@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');
*{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

.slv_text_blue{
    color: #0D0D6F;
}

.slv_form_book{
    width: 50%;
    margin: 20px auto;
}

.slv_form_book fieldset{
    padding: 20px;
}

legend{
    text-transform: uppercase;
    font-weight: bold;
}

.slv_form_group{
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.slv_form_group label{
    flex: 3;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.slv_form_group .slv_form_control{
    flex: 5;
    height: 30px;
    padding-left: 8px;
    outline: none;
    border-width: 1px;
    box-shadow: none;
    transition: .5s;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-size: 13px;
}

input.slv_disable:disabled{
    border: none;
    background: #fff;
    font-weight: 600;
}

.slv_custom_select[name="currency"]{
    flex: 1;
    margin-left: 15px;
}

.slv_custom_select{
    flex: 5;
    height: 35px;
    padding: 0 10px;
    outline: none;
    box-shadow: none;
    margin-left: 7px;
    border-width: 1px;
    transition: .5s;
}

.slv_custom_select:hover, .slv_form_control:hover, .slv_custom_select:focus, .slv_form_control:focus{
    box-shadow: #cbcbcb 1px 1px 5px;
}

.slv_custom_select, .slv_form_control{
    border: 1px solid #a1a1a1;
}

.slv_btn{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    padding: 10px 20px;
    transition: .5s;
    cursor: pointer;
    font-weight: 600;
}

.slv_btn:focus{
    outline: none;
    box-shadow: none;
}

.slv_btn.slv_success_outline{
    border: 2px solid #3dbb55;
    background: #fff;
    color: #444444;
}

.slv_btn.slv_success_outline:hover{
    border-color: #267b35;
    box-shadow: #cbcbcb 1px 1px 20px;
}

.slv_btn.slv_dark_outline{
    border: 2px solid #6d6d6d;
    color: #444444;
}

.slv_btn.slv_dark_outline:hover{
    border: 2px solid #4b4b4b;
    background: #fff;
    color: #444444;
    box-shadow: #cbcbcb 1px 1px 20px;
}

.d_none{
    display: none;
}

[class*="msg_"]{
    color: red;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    /*text-align: right;*/
    flex: 5;
}